DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=payment_db
BLOCKCHAIN_RPC_URL=http://localhost:8545
BLOCKCHAIN_PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80
VERIFICATION_NETWORK_URL=http://localhost:3002
AGENT_LAYER_URL=http://localhost:3001
ESCROW_HUB_ADDRESS=
VERDICT_REGISTRY_ADDRESS=
